__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log

.venv/
venv/
env/

.cache/
.pytest_cache/

allure-results/
allure-report/

htmlcov/
*.coverage
*.cover
*.cov
*.gcov

.idea/
.vscode/
*.iml

*.pid
*.seed
*.pid.lock

.DS_Store
Thumbs.db